<app-header></app-header>
<div class="row" >
    <div class="col-7 " >
    <img class="m-4 " height="450px" src="https://cdn2.iconfinder.com/data/icons/technology-117/170/20-512.png" alt="">

    </div>
    <div class="col-5 mt-5" >
     <form (ngSubmit)="login()" [formGroup]="loginForm" class="border p-5 mt-5 me-5" action="">
<div>
    <input name="acno" formControlName="acno" placeholder="Account Number" type="text" class="form-control" > 
</div>

<!-- invalid acno -->
<div *ngIf="this.loginForm.get('acno')?.errors&&this.loginForm.get('acno')?.touched"
 class="text-danger mb-2" >Invalid Account Number</div>

<div class="mt-4" >
    <input name="pswd" formControlName="pswd" placeholder="Password" type="text" class="form-control" >
</div>

<!-- invalid pswd -->

<div *ngIf="this.loginForm.get('pswd')?.errors&&this.loginForm.get('pswd')?.touched"
 class="text-danger mb-2" >Invalid Password</div>

<!-- error message -->
<div class="text-danger" > {{errorMsg}} </div>

<div>
    <button type="submit" class="btn btn-primary mt-2" >Login
       <span *ngIf="successMsg" class="spinner-border text-light" role="status" >
                <span class="visually-hidden">Loading...</span>
              
       </span>

    </button>
    &nbsp;
    <span>
        New user? Click here to <a routerLink="/register">Register</a>
    </span>
</div>

     </form>
    </div>

</div>